:root {
	--color-p1: #71d7be;
	--color-p2: #298a90;
	--color-bg: #0d1117;
	--color-font: #c9d1d9;
}

p, h1, h2, h3, h4, body {
	margin: 0px auto;
	padding: 0px auto;
	background-color: var(--color-bg);
	color: var(--color-font);
}

a {
	text-decoration: none;
}

.logo {
	margin: 0 auto;
	background: url('../img/logo.svg') no-repeat;
	object-fit: cover;
	width: 420px;
	height: 85px;
	margin-bottom: 80px;
}

.container {
	display: grid;
	max-width: 1400px;
	margin: 0 auto;
	grid-template-columns: 1fr 3fr;
}

.nav-menu ul {
	display: inline-block;
	list-style: none;
	padding-right: 40px;
	border-right: 1px solid var(--color-p2);
	padding-bottom: 80px;
}

.nav-menu ul li {
	padding: 5px;
}

.nav-menu ul li a {
	color: var(--color-p1);
}

.nav-menu ul li a:hover {
	color: #fff;
	text-decoration: underline;
}

.nav-menu ul .header {
	color: var(--color-p2);
	font-size: 1.2rem;
	font-weight: 700;
	padding-left: 0px;
	padding-bottom: 8px;
}

.nav-menu ul li+.header {
	padding-top: 16px;
}

.nav-menu ul .header:first-child {
	padding-top: 200px;
}

.nav-context {
	padding-top: 80px;
}

.nav-context p, .nav-context h3 {
	padding-left: 16px;
}


.nav-context h1 {
	border-bottom: 1px solid currentColor;
	margin-bottom: 20px;
/*	padding-left: 0px;*/
}

.nav-context h1:nth-child(n+2) {
	margin-top: 40px;
}