html, body {
    height: 100%;
}

body {
	background-color: var(--color-dark2);
}

html, ul, p, h1, h2, h3, h4, body {
	margin: 0;
	padding: 0;
	color: var(--color-font);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--color-font);
}

img {
	max-width: 100%;
	display: block;
}