[data-tooltip] {
	position: relative;
	cursor: pointer;
}

[data-tooltip]:before {
	content: attr(data-tooltip);
	display: none;
	position: absolute;
	top: 30px;
	left: 20px;
	width: 300px;
	padding: 10px;
	z-index: 100;
	border-radius: 5px;
	text-decoration: none;
	background-color: var(--color-dark1);
	color: var(--color-light1);
	box-shadow: 2px 2px 10px var(--color-dark3);
}

[data-tooltip]:hover:before {
	display: inline-block;
}